.widgetButton {
  display: inline-block;
  vertical-align: middle;
  backface-visibility: hidden;
  transition-duration: 0.2s;
  transition-property: transform;
}
.widgetButton:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.05);
}
.widgetButton:active {
  transform: scale(0.9);
  opacity: 1;
}
